
.App {
  text-align: center;
  /* padding: 2rem; */
}

/* .App h1 {
  color: #333;
  margin-bottom: 1rem;
} */

.App {
  min-height: 100vh;
  background-color: #ffffff;
}

main {
  min-height: calc(100vh - 80px); /* Adjust based on nav height */
}